.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
main {
  margin-top: 4rem;
  width: 100%;
  background-size: cover;
  /* this one */
  background-position: center;
}
