.mainContainer {
  padding: 10px;
  margin: 0.5rem;
  background-color: #f1f1f1f1;
  box-shadow: 2px 2px 2px 2px #aaaaaaaa;
}
.title {
  font-size: x-small;
}
.issueComponentCtn {
  display: grid;
  grid-template-columns: 50px auto;
  margin: 1rem 0;
  align-items: center;
  font-size: x-small;
}
.issueProductsHeadings {
  display: grid;
  grid-template-columns: auto 70px 70px 70px;
  font-weight: bold;
  padding: 5px;
  margin: 0.5rem 0;
  align-items: center;
  font-size: x-small;
}
.modalProductHeading {
  font-weight: bold;
  padding: 0.5rem;
  font-size: x-small;
}
.modalProductCtn {
  padding: 0.5rem;
  height: 100px;
  overflow: auto;
  font-size: x-small;
}
.modalProductCtn::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modalProductCtn::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.modalProductCtn::-webkit-scrollbar-thumb {
  background: #325ba8;
}

/* Handle on hover */
.modalProductCtn::-webkit-scrollbar-thumb:hover {
  background: #25447d;
}
.modalProductItem {
  box-shadow: 2px 2px 2px 2px #aaaaaa;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.6rem 0;
  background-color: white;
  font-size: x-small;
}
.modalProductItem:hover,
.modalProductItem:active {
  border: 1px solid #25447d;
}
.removeBtn {
  cursor: pointer;
  background-color: #ff1f75;
  padding: 0.5rem;
  font-weight: bold;
  color: white;
}
.issueProductsList {
  height: 400px;
  padding: 0.2rem;
  overflow: auto;
}
.issueProductsList::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.issueProductsList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.issueProductsList::-webkit-scrollbar-thumb {
  background: #325ba8;
}

/* Handle on hover */
.issueProductsList::-webkit-scrollbar-thumb:hover {
  background: #25447d;
}
.requistionItem {
  font-size: x-small;
  padding: 5px;
  margin: 1rem 0;
  box-shadow: 2px 2px 2px 2px #aaaaaaaa;
  cursor: pointer;
  background-color: white;
}
.requistionProductInformation {
  display: grid;
  grid-template-columns: auto 60px 60px 70px;
  margin: 5px 0;
  align-items: center;
  padding: 5px;
}
.requistionProductInformation input {
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
  font-size: x-small;
  background-color: transparent;
}
.storeProductInformation {
  display: grid;
  grid-template-columns: 40px auto 100px;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px #aaaaaaaa;
  margin-top: 0.5rem;
  align-items: center;
  font-weight: bold;
}
.requistionInformation {
  display: grid;
  grid-template-columns: auto 150px;
  align-items: center;
  padding: 5px;
  margin: 5px 0;
}
.interactionBar {
  background-color: #02a523;
  color: white;
  box-shadow: 2px 2px 2px 2px #aaaaaa;
  padding: 1.5rem;
  font-size: x-small;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto 100px;
  margin: 1rem 0.5rem;
  justify-items: end;
}
.confirm {
  background-color: #25447d;
  color: white;
  margin: 1rem;
}
.confirm:hover,
.confirm:active {
  color: #25447d;
  background-color: white;
}

.hold {
  color: #02a523;
  background-color: white;
  margin: 0.5rem;
}

.retrieve {
  color: #f48231;
  background-color: white;
  margin: 0.5rem;
}
@media (min-width: 40rem) {
  .issueComponentCtn {
    font-size: small;
  }
  .requistionItem {
    font-size: small;
  }
  .issueProductsHeadings {
    grid-template-columns: auto 150px 150px 150px;
    font-size: small;
  }
  .requistionProductInformation {
    grid-template-columns: auto 150px 150px 150px;
  }
  .requistionProductInformation input {
    font-size: small;
  }
  .requistionInformation {
    grid-template-columns: auto 200px;
  }
  .storeProductInformation {
    grid-template-columns: 150px auto 200px;
  }
  .modalProductItem,
  .title,
  .modalProductHeading,
  .interactionBar {
    font-size: small;
  }
}
