.issueTransfer {
  padding: 10px;
  margin: 1rem;
  border-radius: 2px;
  background-color: #f1f1ff;
  font-size: x-small;
}
.productStructure {
  display: grid;
  grid-template-columns: auto 100px 100px;
  margin: 0.5rem;
  box-shadow: 2px 2px 2px 2px #aaaaaaaa;
  align-items: center;
}

.productHeadings {
  padding: 20px;
  background-color: #25447d;
  font-weight: bold;
  color: white;
}
.mainProduct {
  background-color: white;
  border: 1px solid #f1f1f1;
  padding: 10px;
  margin: 0.5rem 0;
  box-shadow: 2px 2px 2px 2px #aaaaaaaa;
}
.productList {
  height: 350px;
  overflow: auto;
}
.locationProduct {
  cursor: pointer;
}
.productItem {
  padding: 10px;
  font-size: x-small;
}
.productList::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.productList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.productList::-webkit-scrollbar-thumb {
  background: #325ba8;
}

/* Handle on hover */
.productList::-webkit-scrollbar-thumb:hover {
  background: #25447d;
}
.searchedList {
  height: 150px;
  overflow: auto;
}

.searchedList::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.searchedList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.searchedList::-webkit-scrollbar-thumb {
  background: #325ba8;
}

/* Handle on hover */
.searchedList::-webkit-scrollbar-thumb:hover {
  background: #25447d;
}
.searchedProduct {
  box-shadow: 2px 2px 2px 2px #aaaaaaaa;
  font-size: x-small;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.interactionBar {
  background-color: #f1f1f1;
  box-shadow: 2px 2px 2px 2px #aaaaaa;
  padding: 1.5rem;
  font-size: x-small;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto 100px;
  margin: 1rem 0.5rem;
  justify-items: end;
}
.hold {
  background-color: #02a523;
  color: white;
  margin: 1rem;
}
.hold:hover,
.hold:active {
  color: #02a523;
  background-color: white;
}
@media (min-width: 40rem) {
  .productStructure {
    grid-template-columns: auto 150px 150px;
  }
  .productItem,
  .issueTransfer,
  .searchedProduct,
  .interactionBar {
    font-size: small;
  }
  .interactionBar {
    grid-template-columns: auto 200px;
  }
}
