.Navigation_Link {
  color: #25447d;
}
.Active {
  border-bottom: 5px solid #936c60;
}
.NotActive {
  border-bottom: 5px solid #e8f1fb;
}

.Navigation_Link a {
  color: inherit;
  font-size: x-small;
}
.Navigation_Features {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Features_List {
  display: none;
}
.Toggle_Features {
  margin: 0;
  padding: 10px;
  list-style: none;
  height: 120px;
  position: absolute;
  top: 23%;
  left: 101%;
  font-weight: bold;
  background-color: #e8f1fb;
  border: 1px solid #936c60;
  width: 200px;
  overflow: auto;
  z-index: 4;
  text-align: left;
}

@media not all and (hover: none) {
  .Features_Link a:hover,
  .Features_Link a:active {
    color: #f9a260;
    text-decoration: underline;
  }
}
/* .Toggle_Features */
/* width */
.Toggle_Features::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.Toggle_Features::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.Toggle_Features::-webkit-scrollbar-thumb {
  background: #f1bc97;
}

/* Handle on hover */
.Toggle_Features::-webkit-scrollbar-thumb:hover {
  background: #f1bc97;
}
.Features_Link {
  overflow: hidden;
  margin: 0.5rem 0;
  font-size: x-small;
}
.Features_Link a {
  color: #25447d;
  text-decoration: none;
}

@media (min-width: 40rem) {
  .Navigation_Features {
    position: static;
  }
  .Toggle_Features {
    top: 90%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
    text-align: right;
    padding: 1rem;
  }
  .Features_Link {
    font-size: 20px;
  }
}
