.deleteModal {
  font-size: x-small;
  text-transform: uppercase;
  font-weight: bold;
}
.hold {
  background-color: #02a523;
  color: white;
  margin: 1rem auto;
}
.hold:hover,
.hold:active {
  color: #02a523;
  background-color: white;
}
.confirm {
  background-color: #25447d;
  color: white;
  margin: 1rem 0;
}
.confirm:hover,
.confirm:active {
  color: #25447d;
  background-color: white;
}
.cancel {
  background-color: #ff1f75;
  color: white;
  margin: 1rem;
}
.cancel:hover,
.cancel:active {
  color: #ff1f75;
  background-color: transparent;
}
@media (min-width: 40rem) {
  .deleteModal {
    font-size: small;
  }
}
